<div class="container update-password">
  <div class="row">
    <div class="col-md-12 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <br />
            <div style="border: 1px solid; padding: 2%; margin: 10%">
              <h3 style="color: red">
                SORRY YOUR USER NAME, SECURITY QUESTION & ANSWER IS MISMATCHED
              </h3>
            </div>
            <p class="mb-5 pb-lg-2" style="color: #0893f0">
              Already have an Customer Account?
              <a href="customer/login">Login here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
