<div class="container">
  <div class="row">
    <customer-navbar
      class="nav flex-column d-flex col-md-auto me-4"
    ></customer-navbar>

    <main class="col">
      <!-- account  -->
      <form id="add-beneficiary-form" (ngSubmit)="onSubmit()">
        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
          Add Beneficiary
        </h3>

        <div class="form-outline mb-4">
          <input
            type="number"
            id="accountNumber"
            class="form-control form-control-lg"
            placeholder="Enter Account Number"
            name="accountNumber"
            required
            [(ngModel)]="account.accountNumber"
          />
          <label class="form-label" for="accountNumber">Account Number</label>
        </div>

        <div class="form-outline mb-4">
          <input
            type="number"
            id="comfirmAccount"
            class="form-control form-control-lg"
            placeholder="Comfirm Account Number"
            name="accountNumber"
            required
            #comfirmAccount
          />
          <label class="form-label" for="comfirmAccount"
            >Comfirm Account Number</label
          >
        </div>

        <h5 class="fw-normal mb-2 pb-2" style="letter-spacing: 1px">
          Select Type Of Account
        </h5>

        <div style="border: 1px solid; padding: 5px">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="accountType"
              id="savingAccount"
              [value]="accountType.SAVINGS"
              [(ngModel)]="account.accountType"
            />
            <label class="form-check-label" for="savingAccount"
              >Savings Account</label
            >
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="accountType"
              id="checkingAccount"
              [value]="accountType.CHECKING"
              [(ngModel)]="account.accountType"
            />
            <label class="form-check-label" for="checkingAccount">
              Checking Account</label
            >
          </div>
        </div>

        <div class="pt-3 mb-4" style="padding-left: 80%">
          <button class="btn btn-primary btn-lg btn-block" type="submit">
            Submit
          </button>
        </div>
      </form>
    </main>
  </div>
</div>
