<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Create Account </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Add Beneficiary </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Remove Beneficiary </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Account Details </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Integrations </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      ></div>

      <!-- account  -->
      <form id="add-beneficiary-form">
        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
          Add Beneficiary
        </h3>

        <div class="form-outline mb-4">
          <input
            type="text"
            id="accountNumber"
            class="form-control form-control-lg"
            placeholder="Enter Account Number"
            name="accountNumber"
          />
          <label class="form-label" for="accountNumber">Account Number</label>
        </div>
        <div class="form-outline mb-4">
          <input
            type="text"
            id="comfirmAccount"
            class="form-control form-control-lg"
            placeholder="Comfirm Account Number"
            name="accountNumber"
          />
          <label class="form-label" for="comfirmAccount"
            >Comfirm Account Number</label
          >
        </div>
        <h5 class="fw-normal mb-2 pb-2" style="letter-spacing: 1px">
          Select Type Of Account
        </h5>
        <div style="border: 1px solid; padding: 5px">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="accountType"
              id="savingAccount"
              value="option1"
            />
            <label class="form-check-label" for="savingAccount"
              >Savings Account</label
            >
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="accountType"
              id="checkingAccount"
              value="option2"
            />
            <label class="form-check-label" for="checkingAccount">
              Checking Account</label
            >
          </div>
        </div>

        <div class="pt-3 mb-4" style="padding-left: 80%">
          <button class="btn btn-primary btn-lg btn-block" type="button">
            Submit
          </button>
        </div>
      </form>
    </main>
  </div>
</div>
