<div class="container">
  <admin-navbar></admin-navbar>
  <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
    {{ errorMsg }}
  </div>
  <div *ngIf="message" class="alert alert-primary" role="alert">
    {{ message }}
  </div>
  <h3 class="text-center">Register Staff</h3>
  <br />
  <form class="register-form mx-auto">
    <div class="row">
      <div class="col">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="First Name"
          [(ngModel)]="registerForm.firstName"
        />
      </div>
      <div class="col">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          name="lastName"
          placeholder="Last Name"
          [(ngModel)]="registerForm.lastName"
        />
      </div>
    </div>
    <br />
    <div class="row row-cols-2">
      <div class="col">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="Username"
          [(ngModel)]="registerForm.username"
        />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
          [(ngModel)]="registerForm.password"
        />
      </div>
      <div class="col">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Confirm Password"
          [(ngModel)]="confirmPassword"
        />
      </div>
    </div>
    <br />
    <div class="float-end d-grid gap-2 col-2 mx-auto">
      <button class="btn btn-primary" type="submit" (click)="registerStaff()">
        Register
      </button>
    </div>
  </form>
</div>
