.update-password .panel-default {
  padding: 31%;
  margin-top: -27%;
}
.update-password .panel-body {
  padding: 10%;
  margin-bottom: -50%;
  background: #fff;
  border-radius: 5px;
}

.update-password .dropdown ul {
  width: 100%;
}
