<div class="container update-password">
  <div class="row">
    <div class="col-md-12 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h2 class="text-center">Update Password</h2>
            <br />
            <form
              id="register-form"
              role="form"
              autocomplete="off"
              class="form"
              method="post"
            >
              <div class="form-group">
                <div class="input-group">
                  <h3 id="username">username: {{ username }}</h3>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"
                    ><i class="glyphicon glyphicon-envelope color-blue"></i
                  ></span>
                  <input
                    id="newPassword"
                    name="newPassword"
                    placeholder="Enter New Password"
                    class="form-control"
                    type="password"
                    [(ngModel)]="resetPassword.password"
                    required
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"
                    ><i class="glyphicon glyphicon-envelope color-blue"></i
                  ></span>
                  <input
                    id="confirmPassword"
                    name="confirmPassword"
                    placeholder="Comfirm Password"
                    class="form-control"
                    type="password"
                    [(ngModel)]="resetPassword.confirmPassword"
                    required
                  />
                </div>
              </div>
              <br />
              <div class="form-group">
                <button
                  name="btnUpdate"
                  class="btn btn-lg btn-primary btn-block btnForget"
                  type="submit"
                  id="btnUpdate"
                  (click)="doSubmit()"
                >
                  Update Password
                </button>
              </div>
              <br />
              <p class="mb-5 pb-lg-2" style="color: #0893f0">
                Already have an Customer Account?
                <a href="customer/login">Login here</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
