<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <span class="fs-4">Enable/Disable Staff</span>
    </div>
    <div class="card-body">
      <table class="table table-striped table-hover table-bordered text-center">
        <thead>
          <tr>
            <th>Staff Name</th>
            <th>Staff Username</th>
            <th>Enable/Disable</th>
          </tr>
        </thead>
        <tbody class="align-middle">
          <tr>
            <td>Brett</td>
            <td>Brett@t3bank.com</td>
            <td>
              <button type="button" class="btn btn-success">Enabled</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
