<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/staff/dashboard">Staff Dashboard</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/staff/dashboard"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/staff/enable-disable-customer"
            routerLinkActive="active"
            >View All Customers</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="staff/customer-accounts"
            routerLinkActive="active"
            >View Accounts Details</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/staff/approve-beneficiary"
            routerLinkActive="active"
            >View All Nonapproved Beneficiaries</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/staff/transfer"
            routerLinkActive="active"
            >Transfer On Behalf</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/staff/approve-account"
            routerLinkActive="active"
            >View All Nonapproved Accounts</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
