<ul class="nav flex-column d-flex">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/customer/dashboard"
      routerLinkActive="active"
    >
      <span data-feather="home"></span>
      Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/customer/createAccount"
      routerLinkActive="active"
    >
      Create Account
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/customer/addBeneficiary"
      routerLinkActive="active"
    >
      Add Beneficiary
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/customer/removeBeneficiary"
      routerLinkActive="active"
    >
      Remove Beneficiary
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link active"
      routerLink="/customer/accountDetails"
      routerLinkActive="active"
    >
      Account Details
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/customer/transfer"
      routerLinkActive="active"
    >
      Transfer
    </a>
  </li>
</ul>
