<div class="container">
  <staff-dashboard></staff-dashboard>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center border-bottom pb-3 mb-3">
        Nonapproved Beneficiaries
      </h5>
      <table class="table table-striped table-hover table-bordered text-center">
        <thead>
          <tr>
            <th>Customer ID</th>
            <th>Beneficiary Account Number</th>
            <th>Date Created</th>
            <th>Approval Status</th>
          </tr>
        </thead>
        <tbody class="align-middle" *ngFor="let beneficiary of beneficiaries">
          <tr>
            <td>{{ beneficiary.fromCustomer }}</td>
            <td>{{ beneficiary.beneficiaryAccountNumber }}</td>
            <td>{{ beneficiary.dateAdded }}</td>
            <td *ngIf="beneficiary.isApproved == 'yes'">
              <button type="button" class="btn btn-success">Approved</button>
            </td>
            <td *ngIf="beneficiary.isApproved == 'no'">
              <button
                type="button"
                class="btn btn-danger"
                (click)="
                  setApprovedStatus(
                    beneficiary.fromCustomer,
                    beneficiary.beneficiaryAccountNumber
                  )
                "
              >
                Approve
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
