<div class="container">
  <h3 class="text-center">Customer Registration</h3>
  <br />
  <form class="register-form mx-auto">
    <div class="row">
      <div class="col">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="First Name"
        />
      </div>
      <div class="col">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          name="lastName"
          placeholder="Last Name"
        />
      </div>
    </div>
    <br />
    <div class="row row-cols-2">
      <div class="col">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="Username"
        />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <label for="password">Password</label>
        <input
          type="text"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
        />
      </div>
      <div class="col">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="text"
          class="form-control"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Confirm Password"
        />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <label for="secretQuestion">Secret Question</label>
        <input
          type="text"
          class="form-control"
          id="secretQuestion"
          name="secretQuestion"
          placeholder="Secret Question"
        />
      </div>
      <div class="col">
        <label for="secretAnswer">Secret Answer</label>
        <input
          type="text"
          class="form-control"
          id="secretAnswer"
          name="secretAnswer"
          placeholder="Secret Answer"
        />
      </div>
    </div>
    <br />
    <div class="row row-cols-2">
      <div class="col">
        <label for="phone">Phone Number</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          name="phone"
          placeholder="xxx-xxx-xxxx"
        />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <label for="pan">PAN</label>
        <input
          type="text"
          class="form-control"
          id="pan"
          name="pan"
          placeholder="PAN"
        />
      </div>
      <div class="col">
        <label for="aadhar">AADHAR</label>
        <input
          type="text"
          class="form-control"
          id="aadhar"
          name="aadhar"
          placeholder="AADHAR"
        />
      </div>
    </div>
    <br />
    <div class="float-end d-grid gap-2 col-2 mx-auto">
      <button class="btn btn-primary" type="submit">Register</button>
    </div>
  </form>
</div>
