<div class="container">
  <div class="row">
    <customer-navbar
      class="nav flex-column d-flex col-md-auto me-4"
    ></customer-navbar>

    <main class="col">
      <div class="dropdown">
        <button
          class="btn btn-body border-dark dropdown-toggle"
          type="button"
          id="accountDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span *ngIf="!accountNum"> Please select an account </span>
          <span *ngIf="accountNum && accountDetails">
            {{ accountNum }} - {{ accountDetails.accountType }}
          </span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="accountDropdown">
          <li *ngFor="let account of accounts">
            <button
              class="dropdown-item"
              (click)="loadAccountInfo(account.accountNumber)"
            >
              {{ account.accountNumber }} - {{ account.accountType }}
            </button>
          </li>
        </ul>
      </div>
      <br />
      <div>
        <p>
          Account No.:
          <span *ngIf="accountDetails">{{ accountDetails.accountNumber }}</span>
        </p>
        <p>
          Balance:
          <span *ngIf="accountDetails">{{
            accountDetails.accountBalance
          }}</span>
        </p>
      </div>

      <div class="table-responsive">
        <div>
          <h5 style="text-align: center">Account Details</h5>
          <button
            class="tn btn-primary btn-sm"
            type="button"
            style="margin-left: 80%; margin-bottom: 0.5%"
          >
            Download
          </button>
        </div>

        <table class="table table-striped table-sm">
          <thead></thead>
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Reference</th>
              <th scope="col">Amount</th>
              <th scope="col">Cr/Db</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trans of transaction">
              <td>{{ trans.date }}</td>
              <td>{{ trans.reference }}</td>
              <td>{{ trans.amount }}</td>
              <td>{{ trans.transactionType }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
