.panel-default {
  padding-left: 31%;
  padding-right: 31%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.panel-body {
  padding: 10%;
  background: #fff;
  border-radius: 5px;
}

.dropdown {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.dropdown button {
  width: 100%;
}
.dropdown ul {
  width: 100%;
}
