<div class="container forget-password">
  <div class="row">
    <div class="col-md-12 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h2 class="text-center">Submit to Reset Password</h2>
            <br />
            <form
              id="register-form"
              role="form"
              autocomplete="off"
              class="form"
              method="post"
            >
              <div class="form-group">
                <div class="input-group">
                  <input
                    id="customerName"
                    name="customerName"
                    type="text"
                    class="form-control"
                    placeholder="Enter UserName"
                    [(ngModel)]="customerName"
                    (ngModelChange)="getcustomerName($event)"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <p>question: {{ question }}</p>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"
                    ><i class="glyphicon glyphicon-envelope color-blue"></i
                  ></span>
                  <input
                    id="forgetAnswer"
                    name="forgetAnswer"
                    placeholder="Enter Answer"
                    class="form-control"
                    type="text"
                    required
                    [(ngModel)]="answer"
                  />
                </div>
              </div>
              <br />
              <div class="form-group">
                <button
                  name="btnForget"
                  class="btn btn-lg btn-primary btn-block btnForget"
                  value="Submit"
                  type="submit"
                  (click)="onSubmit()"
                >
                  submit
                </button>
              </div>
              <br />
              <p class="mb-5 pb-lg-2" style="color: #0893f0">
                Already have an Customer Account?
                <a href="customer/login">Login here</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
