<div class="container">
  <staff-dashboard></staff-dashboard>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center border-bottom pb-3 mb-3">
        Customer Accounts
      </h5>
      <table class="table table-striped table-hover table-bordered text-center">
        <thead>
          <tr>
            <th>Account Number</th>
            <th>Account Type</th>
            <th>Account Balance</th>
          </tr>
        </thead>
        <tbody class="align-middle">
          //table data from db
        </tbody>
      </table>
    </div>
  </div>
</div>
