<div class="container">
  <staff-dashboard></staff-dashboard>
  <h3 class="text-center">Account Transfer</h3>
  <form>
    <table>
      <tr>
        <td>
          <label for="floatingInputValue">From Account Number</label>
          <input
            type="number"
            class="form-control"
            id="fromAccNumber"
            name="fromAccNumber"
            min="1"
            [(ngModel)]="fromAccNumber"
          />
        </td>
      </tr>
      <tr>
        <td>
          <label for="floatingInputValue">To Account Number</label>
          <input
            type="number"
            class="form-control"
            id="toAccNumber"
            name="toAccNumber"
            min="1"
            [(ngModel)]="toAccNumber"
          />
        </td>
      </tr>
      <tr>
        <td>
          <label for="floatingInputValue">Amount To Transfer</label>
          <input
            type="number"
            class="form-control"
            id="amount"
            name="amount"
            min="0.01"
            step=".01"
            placeholder="0.00"
            [(ngModel)]="amount"
          />
        </td>
      </tr>
      <tr>
        <td>
          <label for="floatingInputValue">Reason For Transfer</label>
          <input
            type="text"
            class="form-control"
            id="reason"
            name="reason"
            [(ngModel)]="reason"
          />
        </td>
      </tr>
      <tr>
        <td>
          <button
            class="w-100 btn btn-lg btn-primary"
            type="submit"
            (click)="initiateTransfer()"
          >
            Transfer
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>
